## Teil 3.1: Teilaufgabe 3

# 3.1) Einteilung in ein train und testdatenset

In [1]:
# Installation wichtiger Hilfestelungen
!pip install sklearn
!pip install pandas

Requirement already satisfied: sklearn in c:\python310\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python310\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python310\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\python310\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in c:\python310\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\python310\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
datasetNBA = pd.read_csv("259_Database_NBA.csv", on_bad_lines="skip", sep=";")
datasetNBA.head()

   Age  Height     Weight                   Collegue  draft year
0   22  213.36  106.59412                Connecticut      1996.0
1   27  210.82  106.59412  North Carolina-Wilmington      1992.0
2   30  208.28  106.59412                       Iowa         NaN
3   29  210.82  111.13004                 Providence         NaN
4   22  205.74  106.59412                        NaN      1996.0

##  Vorbereitung

In den unteren Schritten habe ich zum einen bei den draft years die "NaN" Werte gegen den Modus geechselt und zum anderen habe ich alle Reihen gelöscht, welche in den Collueges die Werte "NaN" besassen. Danach habe ich den Object Wert von den Collegues in einen float64 verwandelt.

In [3]:
# NaN Werte behandeln
!pip install numpy

Requirement already satisfied: numpy in c:\python310\lib\site-packages (1.22.3)

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
# Die NaNs bei dem draft year habe ich auf den Modus geändert, damit man eine bessere hervorsage treffen kann.
datasetNBA['draft year'].fillna(datasetNBA['draft year'].mode()[0], inplace=True)

In [5]:
# Löschen alller Reihen, welche einen NaN Wert beinhalten (Es wurden 1000 Reihen gelöcht --> Einträge sind es immernoch weit über 10k)
moddatasetNBA = datasetNBA.dropna()

Änderung von dem "Collegue" Datentyp zu einem float64.

In [6]:
# hammer Viedo: https://www.youtube.com/watch?v=wnOdefa86Gw
from sklearn.preprocessing import OrdinalEncoder

In [7]:
enc = OrdinalEncoder()

In [8]:
enc.fit_transform(moddatasetNBA[['Collegue']])

array([[ 61.],
       [188.],
       [114.],
       ...,
       [ 67.],
       [119.],
       [  9.]])

In [9]:
moddatasetNBA[['Collegue']] = enc.fit_transform(moddatasetNBA[['Collegue']])

C:\Users\Luis Meister\AppData\Local\Temp\ipykernel_22568\1806511289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moddatasetNBA[['Collegue']] = enc.fit_transform(moddatasetNBA[['Collegue']])

In [10]:
# Könnte man in einen Integer umwandeln.
#moddatasetNBA.Collegue.astype(int)
moddatasetNBA.head()

   Age  Height     Weight  Collegue  draft year
0   22  213.36  106.59412      61.0      1996.0
1   27  210.82  106.59412     188.0      1992.0
2   30  208.28  106.59412     114.0      1998.0
3   29  210.82  111.13004     219.0      1998.0
5   22  198.12  102.05820     238.0      1995.0

## Teil 3.1: *Test-train-split*

In [11]:
# Features und Targets bestimmen
X = moddatasetNBA[["Age", "Height", "Weight", "draft year"]]
y = moddatasetNBA[["Collegue"]]
X.head()

   Age  Height     Weight  draft year
0   22  213.36  106.59412      1996.0
1   27  210.82  106.59412      1992.0
2   30  208.28  106.59412      1998.0
3   29  210.82  111.13004      1998.0
5   22  198.12  102.05820      1995.0

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42
)

In [13]:
len(X_train), len(X_test)

(7988, 1997)

# Aufgabe 3.2) *Algorithmus*

Classification
Diese Algorithmen lohnen sich nicht fèr mein üroblem. Ich benétige keine Classification Algorithmen, sondern Regression Algorithmen

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB


algorithms = {
    "Nearest Neighbors" : KNeighborsClassifier(1), 
    "Decision Tree" : DecisionTreeClassifier(max_depth=20), 
    "Random Forest" : RandomForestClassifier(max_depth=45, n_estimators=30, max_features=1),
    "Neural Net" : MLPClassifier(alpha=1, max_iter=10), 
    "Naive Bayes" : GaussianNB(), 
    "LDA" : LinearDiscriminantAnalysis(),
}


for name, algorithm in algorithms.items():

    algorithm.fit(X_train, y_train.values.ravel())

    score = algorithm.score(X_test, y_test)
    print(name, round(score,2))

# Regression

Da ich mit Zahlenwerten arbeite, welche nicht klassifiziert werden müssen, habe ich die «Classification» Algorithmen einmal bereits ausgeschlossen. Ich habe so viele «Regression» Algorithmen wie möglich gesucht und diese dann in Jupyter importiert. Danach habe mir je einen Zahlenwert ausgeben lassen, wobei der höchste Wert, den genausten Algorithmus besitzt. Also habe ich die erhaltenen Zahlen evaluiert und so konnte ich den genausten Algorithmus auswählen, welcher der «RandomForestRegressor»-Algorithmus war. Dieser Algorithmus verwendet eine Reihe von klassifizierten Entscheidungsbäume, welche den Datensatz überprüfen und anschliessend den besten Wert herausgeben. (in meinem Fall 0.52-0.53)

Wie bereits in der letzten Teilaufgabe 2.2 erklärt, muss ich meine Daten nicht skalieren. Dies gilt natürlich auch für meinen Algorithmus

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMRegressor
from xgboost.sklearn import XGBRegressor
from catboost import CatBoostRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

algorithms = {
    "LinearRegression" : LinearRegression(), 
    "LogisticRegression" : LogisticRegression(random_state=0),
    "LGBMRegressor" : LGBMRegressor(), 
    "XGBRegressor" : XGBRegressor(), 
#   "CatBoostRegressor" : CatBoostRegressor(), 
    "SGDRegressor" : SGDRegressor(max_iter=1000),  
    "GradientBoostingRegressor" : GradientBoostingRegressor(), 
    "DecisionTreeRegressor" : DecisionTreeRegressor(max_depth=30),
    "RandomForestRegressor" : RandomForestRegressor(max_depth=45, random_state=0),


}

for name, algorithm in algorithms.items():

    algorithm.fit(X_train, y_train.values.ravel())
    score = algorithm.score(X_test, y_test)
    print(name, round(score,2))

C:\Python310\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

LinearRegression 0.0

C:\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Python310\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

LogisticRegression 0.04
LGBMRegressor 0.29
XGBRegressor 0.44
SGDRegressor -1.149686332974506e+26
GradientBoostingRegressor 0.09
DecisionTreeRegressor 0.27
RandomForestRegressor 0.53

Hier unten befindet sich mein ausgewählter Algorithmus. Ebenso wird auch bereits im unteren Teil ein Modell berechnet bzw. trainiert. (Aufgabe 3.2)

In [15]:
from sklearn.ensemble import RandomForestRegressor

algorithms = {
    "Random Forest Regressor" : RandomForestRegressor(max_depth=35, random_state=0),
}

for name, algorithm in algorithms.items():

    algorithm.fit(X_train, y_train.values.ravel())

    score = algorithm.score(X_test, y_test)
    print(name, round(score,2))

Random Forest Regressor 0.53

Im oberen Beispiel sehen sie die Berechnung von einem Modell, welche die Genauigkeit des Algorithmus anzeigt.
Nun kommt die Speicherung an die Reihe

In [16]:
import joblib
joblib.dump(algorithms["Random Forest Regressor"], 'datasetNBAA.joblib')
best_model = joblib.load('datasetNBAA.joblib')
best_model

RandomForestRegressor(max_depth=35, random_state=0)

# Aufgabe 3.3)

In [17]:
# Features und Targets bestimmen
X = moddatasetNBA[["Age", "Height", "Weight", "draft year"]]
y = moddatasetNBA[["Collegue"]]
X.head()

   Age  Height     Weight  draft year
0   22  213.36  106.59412      1996.0
1   27  210.82  106.59412      1992.0
2   30  208.28  106.59412      1998.0
3   29  210.82  111.13004      1998.0
5   22  198.12  102.05820      1995.0

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42
)

## Testfälle

In der unteren Box können Sie 4 Testfälle sehen. Sie können den jeweiligen Testfall auskommentieren und dann alle Befehle bis zur Lösung hin ausführen.

In [19]:
#SpielerNeu1 = pd.DataFrame([[22, 213.36, 106.59412, 1996]], columns=X_train.columns)
#SpielerNeu1 = pd.DataFrame([[36, 208.28, 111.583632, 1983]], columns=X_train.columns)
SpielerNeu1 = pd.DataFrame([[32, 190.5, 83.91452, 1987]], columns=X_train.columns)
#SpielerNeu1 = pd.DataFrame([[33, 182.88, 81.64656, 1986]], columns=X_train.columns)

In [20]:
predictions = best_model.predict(pd.concat([SpielerNeu1]))
for person, prediction in zip(["SpielerNeu1"], predictions):
    print(prediction, person)

202.24 SpielerNeu1

In [21]:
import numpy as np
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

In [22]:

    predictionInNumber = find_nearest(moddatasetNBA['Collegue'], prediction)

In [23]:
import pandas as pd
datasetCollegue = pd.read_csv("259_Database_Collegue_To_Number.csv", on_bad_lines="skip", sep=';')
datasetCollegue.head(11)

    Number                         Collegue
0       61                      Connecticut
1      188        North Carolina-Wilmington
2      114                             Iowa
3      219                       Providence
4      238  Seward County Community College
5      206                     Old Dominion
6      267                           Temple
7       95                     Georgia Tech
8      255                  St. John's (NY)
9      314                 Washington State
10     277                       Texas Tech

In [24]:
datasetCollegue.drop_duplicates(inplace = True)

In [25]:

datasetCollegue = datasetCollegue.loc[datasetCollegue['Number'] == predictionInNumber]

In [26]:
CollegueSimilarToNumber = datasetCollegue['Collegue']

# Lösung

Hier steht das Ergebnis von Ihrem ausgewählten Spieler.

In [27]:
print(person +' geht in das ' + CollegueSimilarToNumber + ' Collegue.')

75    SpielerNeu1 geht in das Ohio State Collegue.
Name: Collegue, dtype: object

### Eignung

Erstaunlicherweise funktionniert mein Algorithmus gar nicht mal so schlecht. Ich habe jeweils aus meiner Excel Datei die Parameter in den Algorithmus 1 zu 1 mitgegeben und das Predictionresultat, welches eine float Zahl von dem College war, hatte eine Differenz zur originalen Zahl von nur 10. Die Zahlen wurden anschliessend gerundet und dem passenden College zugeordnet. Je nachdem wie gerundet wurde, kam manchmal der Fall hervor, dass das originale College als Lösung herauskam. Die Prediction stimmt sicher zu 25 Prozent oder auch höher und ich finde dies ein ziemlich gutes Ergebnis